@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap');

/* Generales */
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

button{
    color: #ff0000;
    border-radius: 0.5rem;
    font-size: 0.813rem;
    background-color: #F5F5F5;
    padding: 0.5rem;
    width: auto;
    max-height: 2.5rem;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0.313rem 0.313rem 0.313rem 0rem;
    font-weight: 700;
}

#app{
    display: grid;
    grid-gap: 3rem;
    grid-template-areas: 
        "header header header"
        "section section section"
        "main main aside";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    background-color: #F5F5F5;
}

h2{
    font-weight: 900;
}

input:focus {
    border: none;
    outline: none;
}


.o-aside, .o-main, .o-section {
    background: #FFF;
    border-radius: 0.75rem;
    padding: 0.938rem;
}

.transparente{
    color: #0000006a;
}

.titulo{
    font-size: 1.25rem;
    color: #0000008f;
}

/* INICIO HEADER - NAVBAR */
.o-header {
    background-color: #3B82F6;
    grid-area: header;
    padding: 1rem;
    overflow: auto;
}

#img-logo{
    float: left;
    width: 9.375rem;
    height: auto;
    margin-left: 3.125rem;
}

#nombre {
    float: right;
    width: 9.375rem;
    padding: 0.5rem 2rem 0.5rem 1.125rem;
    font-size: 0.938rem;
    border: none;
    border-radius: 0.75rem;
    background: #DBEAFE;
    margin-top: 0.26rem;
    margin-right: 6rem;
}

.boton-usuario{
    color: #000000;
    margin: 0.313rem 2.35rem 0.313rem 0rem;
    position: absolute;
    right: 0;
}

.usuario-guardado{
    position: absolute;
    right: 0;
    margin-right: 9rem;
    margin-top: 0.75rem;
}
/* FIN HEADER - NAVBAR */



/* INICIO SECTION - PERFIL */
.o-section {
    grid-area: section;
    padding: 1rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
}

.o-section h2{
    padding-bottom: 0.938rem;
}

.o-section p{
    padding-bottom: 0.938rem;
}

#info-perfil{
    overflow: auto;
    margin-top: 1.25rem;
}

#nombre-perfil{
    font-size: 2.813rem;
}

#img-perfil{
    border-radius: 50%;
    width: 15.625rem;
    height: 15rem;
    float: left;
    margin-right: 1.875rem;
    border: 0.25rem solid #3B82F6;
    padding: 0.125rem;
}

#boton-seguir {
    border-radius: 0.75rem;
    font-size: 1rem;
    padding: 0.625rem;
    width: auto;
    max-height: 5rem;
    float: right;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
}

/* FIN SECTION - PERFIL */



/* INICIO MAIN - PUBLICACION */
.o-main {
    grid-area: main;
    margin-left:6.25rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    margin-bottom: 6.25rem;
}

.o-main h4{
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
}

.o-main p{
    padding-bottom: 0.625rem;
}

.comentarios p{
    padding-bottom: 0.625rem;
}

#errores{
    color: #ff0000;
}

#img-publicacion{
    width: 50rem;
    height: 31.25rem;
    border-radius: 2% ;
}

#sector-mg{
    overflow: auto;
}

#contador-likes {
    float: right;
    margin-top: 0.625rem;
}

div .comentarios{
    margin-bottom: 0.5rem;
}

#input-comentario{
    width: 40.625rem;
    padding: 0.625rem;
    font-size: 0.938rem;
    border: none;
    border-radius: 0.75rem;
    background: #e3e3e3;
    margin:0.313rem 0.313rem 0.313rem 0rem;
}

#comentar{
    border-radius: 0.75rem;
    font-size: 0.938rem;
    background-color: #3B82F6;
    color: #FFF;
    padding: 0.625rem;
    width: auto;
    max-height: 5rem;
    float: right;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}
/* FIN MAIN - PUBLICACION */



/* INICIO ASIDE - SOBRE MI */
.o-aside {
    grid-area: aside;
    margin-right: 6.25rem;
    padding: 2rem;
    margin-bottom: 31.25rem;
}

.o-aside p{
    padding-top: 0.625rem;
}

#sobre-mi{
    font-size: 2.188rem;
    font-weight: 400;
}
/* FIN ASIDE - SOBRE MI */


@media (max-width: 768px) {
    #app {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    
    /* INICIO HEADER - NAVBAR */
    .o-header {
      display: flex;
      padding: 1rem 0.625rem;
      align-items: center;
      order: 1;
      position: fixed;
      top: 0;
      width: 100%;
    }
  
    #img-logo{
      margin: 0 auto 0 0;
      width: 100%;
      max-width: 7rem;
      height: auto;
    }
  
    #nombre {
        width: 100%;
        max-width: 9.375rem;
        padding: 0.5rem 1.125rem;
        margin-left: 13rem;
    }
    
    /* INICIO SECTION - PERFIL */
    .o-section {
        margin: 8rem 1.25rem 0rem 1.25rem;
        order: 2;
    }

    #info-perfil{
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    #img-perfil{
      float: none;
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 14.625rem;
      height: auto;
      margin-bottom: 0.625rem;
    }

    #boton-seguir{
        float: none;
        display: block;
        margin: 0.625rem auto;
    }
      
    /* INICIO MAIN - PUBLICACION */
    .o-main {
        margin: 0rem 1.25rem 1.25rem 1.25rem;
        padding: 1rem;
        order: 4;
        display: grid;
    }
  
    #img-publicacion{
      width: 100%;
      height: auto;
    }
  
    #sector-mg{
      overflow: hidden;
    }

    .comentarios p{
        padding-bottom: 0.625rem;
    }
    
    #comentario{
        width: 90%;
        margin: 0.625rem;
        padding: 0.625rem;
    }

    #input-comentario{
        width: auto;
    }

    
    #comentar{
        float: none;
        display: block;
        margin: 0.625rem auto;
    }
    
    /* INICIO ASIDE - SOBRE MI */
    .o-aside {
      margin: 0rem 1.25rem;
      padding: 1rem;
      order:3;
    }

}